---
description: GitWarsztaty - Szkolenie Docker, szkolenie Git. Warsztaty otwarte i w firmie.
---

{% assign defaultShownAdvantageUpcase = page.default-shown-advantage | upcase %}

<!doctype html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
<!-- Basic Page Needs
    ================================================== -->
<meta charset="utf-8">
<!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>GitWarsztaty - szkolenie wprowadzające do Dockera i Gita</title>
    
{% include head.html %}
  
<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.css">

<!-- Slider
    ================================================== -->
<link href="css/owl.carousel.css" rel="stylesheet" media="screen">
<link href="css/owl.theme.css" rel="stylesheet" media="screen">
<link href="css/animate.css" rel="stylesheet" media="screen">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="style.css">
<link href='css/googleapisfonts.css' rel='stylesheet' type='text/css'>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  <script src="js/vue@2.6.0.js"></script>
</head>

<body>

<nav id="top-menu" class="navbar navbar-default navbar-fixed-top navbar-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" style="max-height: 40px">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
      <a class="navbar-brand" href="{{ site.url }}" style="margin-top: 6px"><img src="img/logo-top.png" class="img-responsive"><!--<span>Grit</span>--></a> </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right"> <!-- nav-view -->
        <!-- <li><a href="#o-warsztatach" class="page-scroll">Szkolenia</a></li> -->
        <li><a href="#co-zyskasz" class="page-scroll">Szkolenia</a></li>
        <li><a href="#prowadzacy" class="page-scroll">O nas</a></li>
        <li><a href="{{ site.url }}/blog" class="page-scroll">Blog</a></li>
        <li><a href="#kontakt" class="page-scroll">Kontakt</a></li>
      </ul>
    </div> 
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
   
      <!--nav icon--> 
      <a id="nav-icon"> <span></span> <span></span> <span></span> </a> 
      <!--nav icon end-->
      
      <ul id="nav-top" class="nav navbar-nav navbar-right"> <!-- nav-view -->
        <!-- <li><a href="#o-warsztatach" class="page-scroll" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Szkolenia</a></li> -->
        <li><a href="#co-zyskasz" class="page-scroll" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Szkolenia</a></li>
        <li><a href="#prowadzacy" class="page-scroll" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">O nas</a></li>
        <li><a href="{{ site.url }}/blog" class="page-scroll" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Blog</a></li>
        <li><a href="#kontakt" class="page-scroll" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Kontakt</a></li>
      </ul>        
          <!--search form-->         
<!--          <form method="get" action="/search" id="search">-->
<!--            <input name="q" type="text" size="40" placeholder="Search..." />-->
<!--          </form>-->
          <!--/search form--> 
          
           <nav class="bottom-nav">
<!--          <ul>-->
<!--            <li><a href="#">FAQ</a></li>-->
<!--            <li><a href="#">Privacy</a></li>-->
<!--            <li><a href="#">Blog</a></li>-->
<!--            <li><a href="#">Pricing</a></li>-->
<!--          </ul>-->
        </nav>
          
          <ul class="social-link">
          <li><a href="https://twitter.com/share?text=GitWarsztaty+-+GIT+efektywnie+wykorzystany&amp;url=https://www.gitwarsztaty.pl" onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://www.gitwarsztaty.pl" onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/gitwarsztaty/" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://www.linkedin.com/shareArticle?mini=true&url=https://gitwarsztaty.pl" onclick="window.open(this.href, 'share-linkedin','width=580,height=296');return false;"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>

<main id="app">
<section id="home-banner" style="background-image: url(img/b-1.jpg);">
  <div class="content">
    <div class="container" data-wow-duration="1s">
        <h1 class="wow fadeInUp">Szkolenie <b>Docker</b>. Szkolenie <b>Git</b>.</h1>
        <h3 class="wow fadeInUp" style="color: white">Wydajna praca jest tańsza i przyjemniejsza.</h3>
    </div>
      <div style="height: 50px" class="wow fadeInUp">
        <a href="#kontakt" v-on:click="inCompany = true"><b>Warsztaty u mnie w firmie</b></a>
      </div>
  <div style="height: 50px" class="wow fadeInUp">
      <a href="#kontakt" v-on:click="inCompany = false"><b>Warsztaty otwarte</b></a>
    </div>
  </div>
  <!--<a href="#prowadzacy">-->
    <div class="arrow bounce" onclick="to_height(window.innerHeight)"> <i class="fa fa-arrow-down fa-2x" style="cursor: pointer"></i> </div>
  <!--</a>-->
</section>

<section id="co-zyskasz">
  <div class="container">
    <div class="row">
      <!--section-title-->
      <div class="section-title text-center wow fadeInUp easyReadText" style="margin-bottom: 0">
        <h2>Szkolenia z Gita, Dockera i Pipelinów CI&CD</h2>
        <p>
          Świadomie dobierając polecenie Gita, <strong>podniesiesz swoją wydajność i satysfakcję</strong> z pracy, dzięki Dockerowi, <strong>odzyskasz cenny czas deploymentu</strong> i 
          <strong>zautomatyzujesz wiele codziennych czynności</strong>, a pipeliny przeprowadzą Wasz software przez <strong>wszystkie etapy wytwarzania oprogramowania</strong>.
        </p>
      </div>
      
      <div class="co-zyskasz-style wow fadeInUp" style="margin-left:auto; margin-right: auto">
        <div class="tab-content">

          <div id="podniesienie-wydajnosci-zespolu-ktory-juz-zna-gita" class="tab-pane active">
            <div class="process-content">
              <a href="{{ site.url }}/szkolenie-git-poziom-zaawansowany-podniesienie-wydajnosci-zespolu">
                <h6 class="text-center" style="margin-top: 1px">Większa wydajność i satysfakcja z pracy z <strong>doszlifowaną znajomością Gita</strong></h6>
              </a>
              <a href="{{ site.url }}/szkolenie-git-poziom-zaawansowany-podniesienie-wydajnosci-zespolu">
                <img src="img/szlifowanie-gita-min.jpg" class="img-responsive min-img">
              </a>
              <p>
                <strong>Szkolenie <i>Szlifowanie Gita</i></strong>, przeznaczone jest dla zespołów, które znają podstawy Gita, ale chcą <strong>usprawnić swoją pracę</strong>.
                Git leży u podstaw codziennych obowiązków każdego deva, opsa, devopsa, testera, specjalisty od security i... ogólnie każdego z branży IT.
                <strong>Efektywnie wykorzystany Git, to fundament efektywnej pracy.</strong>
              </p>
              <p style="margin-top: 0">
                <a href="{{ site.url }}/szkolenie-git-poziom-zaawansowany-podniesienie-wydajnosci-zespolu" class="read-more" style="float: right; text-decoration: none; margin-top: 0px">Czytaj więcej...</a>
              </p>
            </div>
          </div>

          <div id="zespol-wdrozony-do-gita-od-zera" class="tab-pane active">
            <div class="process-content">
              <a href="{{ site.url }}/szkolenie-git-od-zera">
                <h6 class="text-center" style="margin-top: 1px"><strong>Wprowadzenie do Gita</strong> od zera</h6>
              </a>
              <a href="{{ site.url }}/szkolenie-git-od-zera">
                <img src="img/git-from-0-min.jpg" class="img-responsive min-img">
              </a>
              <p>
                <strong>Szkolenie <i>Git od zera</i></strong> przewidziane jest dla zespołów, które dopiero wdrażają Gita.
                Po warsztatach zyskasz umiejętności, dzięki którym <strong>unikniesz wielu kosztownych i stresujących błędów</strong>, na które skazana jest samodzielna nauka, np. utraty napisanego kodu.
              </p>
              <p style="margin-top: 0">
                <a href="{{ site.url }}/szkolenie-git-od-zera" class="read-more" style="float: right; text-decoration: none; margin-top: 0px">Czytaj więcej...</a>
              </p>
            </div>
          </div>

          <div id="zespol-wdrozony-do-dockera-od-zera" class="tab-pane active">
            <div class="process-content">
              <a href="{{ site.url }}/szkolenie-docker-od-zera">
                <h6 class="text-center" style="margin-top: 1px"><strong>Wprowadzenie do Dockera</strong> od zera</h6>
              </a>
              <a href="{{ site.url }}/szkolenie-docker-od-zera">
                <img src="img/docker-from-0-min.jpg" class="img-responsive min-img">
              </a>

              <p>
                <strong>Szkolenie <i>Docker od zera</i></strong> przewidziane jest dla zespołów, które zaczynają pracę z Dockerem.<br>
                Objaśniamy teorię, ale <strong>skupiamy się na ćwiczeniach praktycznych</strong>.
              </p>

              <p>
                Z Dockerem <strong>deploy systemu jest o wiele tańszy, szybszy i przyjemniejszy</strong>, a co za tym idzie <strong>mniej błędogenny</strong>.
                Docker służy również jako świetne <strong>usprawnienie codziennej pracy</strong>, dzięki któremu <strong>łatwo zautomatyzujesz różne zadania</strong>.
              </p>

              <p style="margin-top: 0">
                <a href="{{ site.url }}/szkolenie-docker-od-zera" class="read-more" style="float: right; text-decoration: none; margin-top: 0px">Czytaj więcej...</a>
              </p>
            </div>
          </div>

          <div id="git-efekt-uboczny" class="tab-pane active">
            <div class="process-content">
              <a href="{{ site.url }}/szkolenie-git-efekt-uboczny">
                <h6 class="text-center" style="margin-top: 1px">Git Efekt Uboczny - <strong>lepszej jakości kod powstający szybciej</strong></h6>
              </a>
              <a href="{{ site.url }}/szkolenie-git-efekt-uboczny">
                <img src="img/gitsideeffect-min.jpg" class="img-responsive min-img">
              </a>
              <p>
                <strong>Szkolenie <i>Git Efekt Uboczny</i></strong>, skupia się na wykorzystaniu Gita do pisania <strong>lepszej jakości kodu</strong>.
                Git to narzędzie do wersjonowania, ale przy okazji, gdy jest <strong>odpowiednio wykorzystany, ma znaczący wpływ na efekty naszej pracy</strong>.
                Opanuj techniki Gita, dzięki którym będziesz pracował szybciej, lepiej i czerpał z pracy większą przyjemność.
              </p>
              <p style="margin-top: 0">
                <a href="{{ site.url }}/szkolenie-git-efekt-uboczny" class="read-more" style="float: right; text-decoration: none; margin-top: 0px">Czytaj więcej...</a>
              </p>
            </div>
          </div>
          
          <div id="usprawniony-lub-przygotowany-od-zera-pipeline-ci-cd" class="tab-pane active">
            <div class="process-content">
              <a href="{{ site.url }}/szkolenie-ci-cd-pipeline">
                <h6 class="text-center" style="margin-top: 1px"><strong>Pipeline CI/CD</strong> - usprawniony lub przygotowany od zera</h6>
              </a>
              <a href="{{ site.url }}/szkolenie-ci-cd-pipeline">
                <img src="img/cicd-min.png" class="img-responsive min-img">
              </a>

              <p>
                <strong>Szkolenie Pipeline CI/CD</strong> przewidziane jest dla programistów, testerów i wdrożeniowców. <strong>Pipeliny to serce całej organizacji</strong>, należy przykładać do nich dużą wagę. <strong>Wolne flow rzutuje cały proces</strong> wytwarzania oprogramowania,
                dlatego wspólnie będziemy <strong>doszukiwać się wąskich gardeł i powtarzających schematów, które można zautomatyzować</strong>.
              </p>

              <p>
                Na warsztatach pokażemy Ci <strong>sprawdzone techniki</strong> pomagające utrzymać efektywny flow i ogólne <strong>dobre praktyki</strong>.
              </p>

              <p style="margin-top: 0">
                <a href="{{ site.url }}/szkolenie-ci-cd-pipeline" class="read-more" style="float: right; text-decoration: none; margin-top: 0px">Czytaj więcej...</a>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section id="home-contact-block">
  <div class="container">
    <div class="row wow fadeInUp">
      <p class="small-block">Nie trać czasu na zadania, które Git i Docker mogą wykonać za Ciebie... przećwicz je praktycznie!</p>
      <a href="#kontakt">Umów Warsztaty</a> </div>
  </div>
</section>

<!-- <section id="o-warsztatach" style="margin-bottom: 100px; padding-top: 100px">
  <div class="container">
    <div class="row">
      <div class="section-title text-center wow fadeInUp easyReadText">
        <h2>Szkolenia z Dockera i Gita</h2>
          <h3>Dostępne szkolenia</h3>
        <p id="szkolenia-buttons">
          <a href="{{ site.url }}/szkolenie-docker-od-zera" class="phone phone-button"><button><strong>Wprowadzenie do Dockera</strong> od zera</button></a>
          <a href="{{ site.url }}/szkolenie-git-od-zera" class="phone phone-button"><button><strong>Wprowadzenie do Gita</strong> od zera</button></a>
          <a href="{{ site.url }}/szkolenie-git-poziom-zaawansowany-podniesienie-wydajnosci-zespolu" class="phone phone-button"><button><strong>Szlifowanie Gita</strong> - większa wydajność i satysfakcja z pracy</button></a>
          <a href="{{ site.url }}/szkolenie-git-efekt-uboczny" class="phone phone-button"><button><strong>Git Side Effect</strong> - praca nad jakością kodu poprzez Gita</button></a>
        <a href="{{ site.url }}/szkolenie-ci-cd-pipeline" class="phone phone-button"><button><strong>Pipeline CI/CD</strong> - usprawniony lub przygotowany od zera</button></a>
        </p>
          
      </div>
      <!--/section-title-->

      <div class="clearfix"></div>
    </div>
  </div>
</section> -->

  <section id="prowadzacy">
  <div class="container">
    <div class="row"> 
      <!--section-title-->
      <div class="section-title text-center wow fadeInUp" style="margin-bottom: 0">
        <h2>Autorzy szkolenia z Gita i Dockera</h2>
        <p style="margin-top: 25px"><strong>Prowadzimy szkolenia z Gita <a class="read-more" style="float: none; text-decoration: underline; color: #6f6f6f; text-transform: none; padding: inherit; border: inherit; font-size: inherit; " href="https://devwarsztaty.pl/warsztaty/2018-05-19-wro/" target="_blank">od 2018 roku</a></strong>.<br>
          Git to podstawa pracy każdego Deva, Opsa i Testera, zrozumienie jak najlepiej z nim pracować, to temat ważny, lecz pomimo
          upływu lat wciąż pomijany. Wasze <strong>bardzo pozytywne opinie</strong>, które zawsze otrzymujemy po warsztatach, są dla nas motywcją, żeby wciąż docierać z naszą wiedzą i doświadczeniem, do kolejnych osób.
          </p>
        <p style="margin-top: 30px"><b>Tomasz Skraskowski</b> - pasjonat programowania, wychowany na C++, obecnie wyspecjalizowany w C#. 
          Szkoli, występuje, prowadzi bloga <a class="phone" href="https://SoftwareDeveloper.Blog" target="_blank">SoftwareDeveloper.Blog</a>, na którym największą poczytnością cieszą się posty
          na temat Dockera i Gita. <a class="phone" href="http://Tometchy.com" target="_blank">Więcej o trenerze na stronie Tometchy.com</a>
        </p>
        <p style="margin-top: 20px; margin-bottom: 0;"><b>Krzysztof Morcinek</b> - również pasjonat programowania skoncentrowany na platformie .NET i czystym kodzie. Oprócz szkolenia i występowania publicznego prowadzi bloga -
            <a class="phone" href="https://KrzysztofMorcinek.Wordpress.com" target="_blank">KrzysztofMorcinek.Wordpress.com</a></p>
        <img src="img/my.jpg" style="margin-bottom:0; max-width: 70%; margin-left: auto;margin-right:auto; margin-top: 48px" />
        <p style="margin-top: 25px"><strong>Software craftsmanship</strong> to nasza pasja. Czysty kod w krótkim czasie, częsty deploy na produkcję, skutkujący szybkim feedbackiem od klientów,
          to wszystko możliwe, ale wymaga optymalnego wykorzystania istniejących narzędzi. <strong>Git</strong> i <strong>Docker</strong> są do wydajnej pracy niezastąpione,
          dlatego kładziemy nacisk nie tylko na nasze umiejętności programistyczne, ale na optymalne wykorzystanie Gita, Dockera i innych ważnych narzędzi.
          Lubimy pomagać i uczyć innych, dlatego oprócz wytwarzania oprogramowania chętnie dzielimy się swoją wiedzą i doświadczeniem.
          </p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>

{% include free-materials.html %}

{% include testimonials.html %}
  
<section class="latest-news-block">
  <div class="container">
      <div class="section-title text-center wow fadeInUp">
        <h2>Ostatnie wpisy</h2>
          <p>
            <a href="blog">Przejdź do bloga</a>
          </p>
      </div>

    <div class="row wow fadeInUp" style="padding-bottom: 0">

      {% for post in site.posts limit:3 %}
      <article class="col-md-4 col-sm-8 col-xs-12">
        <header class="entry-header"> <a href="{{ post.url }}"><img src="{{ site.url }}/{{ post.cover }}" alt="image 1"></a>
          <a href="{{ post.url }}"><h6>{{ post.title }}</h6></a>
          <a href="{{ post.url }}">{{ post.excerpt | strip_html | truncatewords: 33, "" }}</a></header></a>
      </article>
      {% endfor %}
      
    </div>
  </div>
</section>

{% include contact.html %}

{% include share.html %}

{% include modal.html %}
  
</main>

{% include footer.html %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="js/jquery.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script type="text/javascript" src="js/bootstrap.js"></script> 
<script type="text/javascript" src="js/SmoothScroll.js"></script> 
<script type="text/javascript" src="js/jquery.isotope.js"></script> 
<script src="js/owl.carousel.js"></script> 
<script src="js/jquery.waypoints.min.js"></script> 
<!-- Custom Javascripts
    ================================================== --> 
<script type="text/javascript" src="js/main.js"></script> 
<script src="js/wow.min.js"></script>

<script>
    function to_position(divid) {
        $('html, body').animate({ scrollTop: $(divid).offset().top - 90 }, 'slow');
    }
    function to_height(height) {
      $('html, body').animate({ scrollTop: height }, 'slow');
    }
</script>

<script>
new WOW().init();
</script>

{% include vueModelMainPage.html %}

{% include analytics.html %}

</body>
</html>
