---
description: GitWarsztaty - warsztaty wprowadzające do Gita. Warsztaty otwarte i w firmie.
default-shown-advantage: sprawna-obsluga-gita-pomaga-pisac-lepszej-jakosci-kod-w-krotszym-czasie
---

{% assign defaultShownAdvantageUpcase = page.default-shown-advantage | upcase %}

<!doctype html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
<!-- Basic Page Needs
    ================================================== -->
<meta charset="utf-8">
<!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>GitWarsztaty - warsztaty wprowadzające do Gita</title>
    
{% include head.html %}
  
<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.css">

<!-- Slider
    ================================================== -->
<link href="css/owl.carousel.css" rel="stylesheet" media="screen">
<link href="css/owl.theme.css" rel="stylesheet" media="screen">
<link href="css/animate.css" rel="stylesheet" media="screen">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="style.css">
<link href='css/googleapisfonts.css' rel='stylesheet' type='text/css'>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  <script src="js/vue@2.6.0.js"></script>
</head>

<body>

<nav id="top-menu" class="navbar navbar-default navbar-fixed-top navbar-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" style="max-height: 40px">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
      <a class="navbar-brand" href="{{ site.url }}" style="margin-top: 6px"><img src="img/logo-top.png" class="img-responsive"><!--<span>Grit</span>--></a> </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right"> <!-- nav-view -->
        <li><a href="#o-warsztatach" class="page-scroll">O warsztatach</a></li>
        <li><a href="#co-zyskasz" class="page-scroll">Po co?</a></li>
        <li><a href="#prowadzacy" class="page-scroll">Prowadzący</a></li>
        <li><a href="{{ site.url }}/blog" class="page-scroll">Blog</a></li>
        <li><a href="#kontakt" class="page-scroll">Kontakt</a></li>
      </ul>
    </div> 
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
   
      <!--nav icon--> 
      <a id="nav-icon"> <span></span> <span></span> <span></span> </a> 
      <!--nav icon end-->
      
      <ul id="nav-top" class="nav navbar-nav navbar-right"> <!-- nav-view -->
        <li><a href="#o-warsztatach" class="page-scroll" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">O warsztatach</a></li>
        <li><a href="#co-zyskasz" class="page-scroll" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Po co?</a></li>
        <li><a href="#prowadzacy" class="page-scroll" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Prowadzący</a></li>
        <li><a href="{{ site.url }}/blog" class="page-scroll" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Blog</a></li>
        <li><a href="#kontakt" class="page-scroll" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Kontakt</a></li>
      </ul>        
          <!--search form-->         
<!--          <form method="get" action="/search" id="search">-->
<!--            <input name="q" type="text" size="40" placeholder="Search..." />-->
<!--          </form>-->
          <!--/search form--> 
          
           <nav class="bottom-nav">
<!--          <ul>-->
<!--            <li><a href="#">FAQ</a></li>-->
<!--            <li><a href="#">Privacy</a></li>-->
<!--            <li><a href="#">Blog</a></li>-->
<!--            <li><a href="#">Pricing</a></li>-->
<!--          </ul>-->
        </nav>
          
          <ul class="social-link">
          <li><a href="https://twitter.com/share?text=GitWarsztaty+-+GIT+efektywnie+wykorzystany&amp;url=https://www.gitwarsztaty.pl" onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://www.gitwarsztaty.pl" onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/gitwarsztaty/" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://www.linkedin.com/shareArticle?mini=true&url=https://gitwarsztaty.pl" onclick="window.open(this.href, 'share-linkedin','width=580,height=296');return false;"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>

<main id="app">
<section id="home-banner" style="background-image: url(img/b-1.jpg);">
  <div class="content">
    <div class="container" data-wow-duration="1s">
      <h1 class="wow fadeInUp"><b>GitWarsztaty</b></h1>
        <h3 class="wow fadeInUp" style="color: white">GIT efektywnie wykorzystany</h3>
    </div>
      <div style="height: 50px" class="wow fadeInUp">
        <a href="#contact" v-on:click="inCompany = true" id="warsztaty-w-firmie-button">Warsztaty u mnie w firmie</a>
      </div>
  <div style="height: 50px" class="wow fadeInUp">
      <a href="#kontakt" v-on:click="inCompany = false" id="warsztaty-otwarte-button">Warsztaty otwarte</a>
    </div>
  </div>
  <!--<a href="#prowadzacy">-->
    <div class="arrow bounce" onclick="to_height(window.innerHeight)"> <i class="fa fa-arrow-down fa-2x" style="cursor: pointer"></i> </div>
  <!--</a>-->
</section>

<section id="o-warsztatach" style="margin-bottom: 100px; padding-top: 100px">
  <div class="container">
    <div class="row">
      <!--section-title-->
      <div class="section-title text-center wow fadeInUp easyReadText">
        <h2>O warsztatach</h2>
        <!--<a href="page.html">Mission brief</a>-->
        <p>
            Warsztaty dla każdego, kto wykorzystuje jedynie podstawowe komendy Gita i chce <b>zoptymalizować swoją pracę</b>, jak i dla osób które dopiero zaczynają pracę z Gitem.
        </p>
      <p>
        Zupełnie <b>niezależnie od języka programowania czy systemu operacyjnego</b> - Git działa na Linuksie, Macu i Windowsie i w żaden sposób nie interpretuje tekstu - nie ma więc znaczenia
        czy programujesz np. w C#, Javie czy Javascripcie, albo może w ogóle nie programujesz, a systemu kontroli wersji chcesz używać do wersjonowania np. prezentacji, artykułów czy książki, którą piszesz.
      </p>
        <p>
          Na warsztatach omawiamy teorię działania poszczególnych mechanizmów Gita, ale <b>skupiamy się na ćwiczeniach praktacznych</b>.
          Poruszamy również kwestie workfow, a całość uzupełniamy streszczeniem komend, z których korzysta się rzadziej, ale które potrafią czasem <i>uratować skórę</i> :)<br>
        </p>
          <p>
            Organizujemy warsztaty zarówno <b>w formie ekluzywnej w Twojej firmie - Tylko dla Ciebie i Twoich współpracowników</b>, jak i w <b>formie otwartej w wynajętej sali - dla każdego, kto wykupi wejściówkę</b>.
          </p>
        <img src="img/warsztaty-w-firmie.jpg" class="img-adjustable" style="margin-bottom:0; margin-top: 14px; margin-left: auto;margin-right:auto" /><br>
      </div>
      <!--/section-title-->

      <div class="clearfix"></div>
    </div>
  </div>
</section>

<section id="home-contact-block">
  <div class="container">
    <div class="row wow fadeInUp">
      <p class="small-block">Nie trać czasu na zadania, które GIT może wykonać za Ciebie... przećwicz je praktycznie!</p>
      <a href="#kontakt">Umów Warsztaty</a> </div>
  </div>
</section>

<section id="co-zyskasz">
  <div class="container">
    <div class="row">
      <!--section-title-->
      <div class="section-title text-center wow fadeInUp easyReadText" style="margin-bottom: 20px">
        <h2>Co zyskasz dzięki warsztatom</h2>
        <p style="max-width: 800px; margin-left: auto; margin-right: auto">
          Na warsztatach przechodzimy od najprostszych poleceń do bardziej zaawansowanych, 
          skupiając się na tym,<b> dlaczego poszczególne mechanizmy działają w dany sposób</b>, zamiast sztucznie wykuwać polecenia na pamięć.
        </p>
        <p>
          Naszym celem jest, żeby <b>uczestnik po warsztatach poczuł Gita</b>, oswoił się z jego filozofią i sposobem działania. 
          Im bardziej się Gita rozumie, tym przyjemniej się... programuje, a wpływ Gita na jakość pracy staje się odczuwalny.
        </p>
        <p>
          Wielotygodniowe <b>kursy video wymagają wiele dyscypliny</b>. Dzięki pomocy instruktorów, intensywne <b>warsztaty pozwalają przyswoić wiedzę w dzień lub dwa</b>. 
        </p>
          <p>
            Ponieważ po warsztatach bardzo ważne jest wdrażenie nabytej wiedzy w codzienność, każdy uczestnik otrzyma
            <b>dostęp do zamkniętego kanału na slacku gitwarsztatowym</b>, na którym prowadzący zdalnie pomagają w napotkanych sytuacjach i odpowiadają na pytania.
            Dodatkowo udostępniamy również <b>wersję offline prezentacji i materiałów</b>, z których korzystamy na warszatach, aby móc korzystać z nich w codziennej pracy.
          </p>
      </div>
      <!--/section-title-->
      <!--process tab-->
      <div class="co-zyskasz-style wow fadeInUp" style="margin-left:auto; margin-right: auto">
        <!--tab nav-->
        <ul class="nav nav-tabs">

          {% for post in site.posts reversed %}

          {% assign isIntroductionPost=false %}
              {% for tag in post.tags %}
                  {% assign tagUpcase = tag | upcase %}
                  {% if tagUpcase == "WPROWADZENIE" %}
                      {% assign isIntroductionPost=true %}
              {% endif %}
          {% endfor %}

          {% if isIntroductionPost == false %}
              {% continue %}
          {% endif %}
            {% assign postUrlUpcase = post.url | upcase %}
                    <li {% if postUrlUpcase contains defaultShownAdvantageUpcase %}class="active"{% endif %}><a href="#{{ post.url | replace: '/blog/', '' }}" data-toggle="tab">
                      <h5>{{ post.advantages-list-title }} </h5>
                        </a>
                    </li>
          {% endfor %}
          
        </ul>
        <div class="tab-content">
          {% for post in site.posts reversed %}

              {% assign isIntroductionPost=false %}
              {% for tag in post.tags %}
                  {% assign tagUpcase = tag | upcase %}
                  {% if tagUpcase == "WPROWADZENIE" %}
                      {% assign isIntroductionPost=true %}
                  {% endif %}
              {% endfor %}

              {% if isIntroductionPost == false %}
                  {% continue %}
              {% endif %}
              {% assign postUrlUpcase = post.url | upcase %}

                <div id="{{ post.url | replace: '/blog/', '' }}" class="tab-pane {% if postUrlUpcase contains defaultShownAdvantageUpcase %}active{% endif %}">
                  <div class="col-md-5 process-img"> <img src="{{ post.advantages-list-cover }}" class="img-responsive"> </div>
                  <div class="col-md-7 process-content">
                    <h6>{{ post.title }}</h6>
                    <p>
                        {{ post.excerpt | strip_html | truncatewords: 33, "" }}
                      <a href="{{ site.url }}{{ post.url }}" style="float: right; text-decoration: none; margin-top: 13px">Czytaj więcej...</a>
                    </p>
                  </div>
                </div>
          
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section id="prowadzacy">
  <div class="container">
    <div class="row"> 
      <!--section-title-->
      <div class="section-title text-center wow fadeInUp" style="margin-bottom: 0">
        <h2>Prowadzący</h2>
        <p> Git to nie tylko narzędzie pracy, którym posługujemy się od lat, ale również nasza pasja. </p>
          <p style="margin-top: 20px"><b>Krzysztof Morcinek</b> - pasjonat programowania i Gita. Skoncentrowany na platformie .NET i czystym kodzie. Lubi pomagać i uczyć innych, między innymi dlatego występuje i prowadzi bloga.<br>
            <a class="phone" href="https://KrzysztofMorcinek.Wordpress.com" target="_blank">Więcej o prowadzącym na blogu - KrzysztofMorcinek.Wordpress.com</a></p>
        <p style="margin-top: 30px"><b>Tomasz Skraskowski</b> - również pasjonat programowania i Gita. Wychowany na C++, obecnie docenia komfort pracy na platformie .NET i postępowość języka C#. 
          W wolnym czasie pisuje na różnych blogach - głównie na <a class="phone" href="https://SoftwareDeveloper.Blog" target="_blank">SoftwareDeveloper.Blog</a><br>
          <a class="phone" href="http://Tometchy.com" target="_blank">Więcej o prowadzącym na stronie Tometchy.com</a>
        </p>
        <img src="img/my.jpg" style="margin-bottom:0; max-width: 70%; margin-left: auto;margin-right:auto; margin-top: 48px" />
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>

<section id="company-counter" style="background-image:url(img/count-bg.jpg);">
  <div class="container" style="margin-left: auto; margin-right: auto">
    <div class="row text-center">
      <div class="wow fadeInDown">
        <div style="max-width: 675px; margin-left: auto; margin-right: auto">
          <div>
            <div class="counter simple-subscription-form">
<!--              <form v-on:submit.prevent="onSubmit">-->
            <form @submit="requestMaterials">
                <h4>Darmowe materiały</h4>
                <p>Opis najważniejszych komend <small>(A4)</small></p>
              <p>Popularne przełączniki do <b>git log</b> <small>(A4)</small></p>
              <div class="agree-wrapper-small">
                <label for="agree" style="margin-bottom: 0;"><small><b>Git w Twojej skrzynce</b> - newsletter z poradami Gitowymi i informacjami na temat nadchodzących warsztatów</small></label>
                <span>
                    <input type="checkbox" id="agree" v-model="agree" name="agree" style="top: 3px">
              </span>
                <div class="clearboth"></div>
              </div>
              
                <div class="input-group">
                </div>
                <span>
                  <label for="emailForMaterials" style="margin-bottom: 10px;">E-mail</label>
                </span>
              <br class="breakEmailLabelForMaterials">
                  <input id="emailForMaterials" v-model="email" class="input-group-field" type="email" placeholder="E-mail" required>
                  <button class="button">Wyślij materiały</button>
              </form>
            </div>
        </div>
      </div>
    </div>
      
    </div>
  </div>
</section>

<section id="testimonials-block" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div id="testimonial" class="owl-carousel owl-theme">
          <div class="item">
            <h5>Najlepsze szkolenie na jakim byłam!</h5>
            <p><strong>Uczestniczka warsztatów</strong></p>
          </div>
          <div class="item smaller-text-on-mobile">
            <h5>Świetna prezentacja, dobre przykłady i konkretne dema do zagadnień. Poruszone wszystkie zagadnienia, otwartość na pytania i pomoc, duża wiedza i doświadczenie.</h5>
            <p><strong>Uczestnik warsztatów</strong></p>
          </div>
          <div class="item">
            <h5>Bardzo udane szkolenie - nastawione na praktykę. Świetnie! :)</h5>
            <p><strong>Uczestniczka warsztatów</strong></p>
          </div>
          <div class="item">
            <h5>Świetne warsztaty zarówno dla osób zaczynających z Gitem, jak i tych osób chcących ustandaryzować wiedzę.</h5>
            <p><strong>Uczestnik warsztatów</strong></p>
          </div>
          <div class="item">
            <h5>Wiedza przekazana w przystępny sposób, dobrze dobrany plan tematów.</h5>
            <p><strong>Uczestnik warsztatów</strong></p>
          </div>
          <div class="item">
            <h5>Bardzo dobrze przygotowane technicznie i merytorycznie.</h5>
            <p><strong>Uczestnik warsztatów</strong></p>
          </div>
          <div class="item">
            <h5>Szkolenie bardzo dobre, jako początkującemu udało mi się nadążać za treścią.</h5>
            <p><strong>Uczestnik warsztatów</strong></p>
          </div>
          <div class="item">
            <h5>Bardzo fajnie poprowadzone, praktyczne przykłady. Super !!</h5>
            <p><strong>Uczestniczka warsztatów</strong></p>
          </div>
          <div class="item smaller-text-on-mobile">
            <h5>Dla mnie - jako dla osoby, która kiedyś odrobinę poznała Gita ale nie ma żadnego doświadczenia w korzystaniu z niego - szkolenie było trafione w dziesiątkę i pozwoliło dokładnie zrozumieć na czym to wszystko polega.</h5>
            <p><strong>Uczestnik warsztatów</strong></p>
          </div>
          <div class="item">
            <h5>Dobrze przeprowadzone, bardzo merytoryczne.</h5>
            <p><strong>Uczestnik warsztatów</strong></p>
          </div>
          <div class="item smaller-text-on-mobile">
            <h5>Szkolenie bardzo przydatne, mój pierwszy kontakt z Gitem i już wiem, że będę go wykorzystywał nie tylko przy tworzeni oprogramowania</h5>
            <p><strong>Uczestnik warsztatów</strong></p>
          </div>
          <div class="item">
            <h5>Bardzo fajnie tłumaczone przykłady i wspólne rozwiązywanie ćwiczeń</h5>
            <p><strong>Uczestnik warsztatów</strong></p>
          </div>
          <div class="item">
            <h5>Bardzo dobra organizacja i podejście do tematu</h5>
            <p><strong>Uczestnik warsztatów</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  
<section class="latest-news-block">
  <div class="container">
      <div class="section-title text-center wow fadeInUp">
        <h2>Ostatnie wpisy</h2>
          <p>
            <a href="blog">Przejdź do bloga</a>
          </p>
      </div>

    <div class="row wow fadeInUp" style="padding-bottom: 0">

      {% for post in site.posts limit:3 %}
      <article class="col-md-4 col-sm-8 col-xs-12">
        <header class="entry-header"> <a href="{{ post.url }}"><img src="{{ site.url }}/{{ post.cover }}" alt="image 1"></a>
          <a href="{{ post.url }}"><h6>{{ post.title }}</h6></a>
          <a href="{{ post.url }}">{{ post.excerpt | strip_html | truncatewords: 33, "" }}</a></header></a>
      </article>
      {% endfor %}
      
    </div>
  </div>
</section>

<section id="kontakt" style="padding-top: 64px">
  <div class="container">
    <div class="row">
      <!--section-title-->
      <div class="section-title text-center wow fadeInUp">
        <h2>Kontakt</h2>
        <p>
          Możesz skontaktować się z nami bezpośrednio, lub za pośrednictwem formularza. <br><br>
          Krzysztof Morcinek:  <a class="phone" href="tel:737692782">737 692 782</a><br>
          Tomasz Skraskowski: <a class="phone" href="tel:792228321">792 228 321</a><br>
          E-mail: <a class="phone" href="mailto:kontakt@gitwarsztaty.pl?Subject=Warsztaty" target="_top">kontakt@gitwarsztaty.pl</a>
        </p>
        <!--        <a href="portfolio.html">go to portfolio</a></div>-->
        <!--/section-title-->
        <div class="container" style="padding-top: 25px; padding-bottom: 15px; max-width: 800px">
          <form @submit="requestContact">
            <label for="workshopsType" style="float: left">Interesują mnie</label>
            <select id="workshopsType" v-model="inCompany">
              <option v-bind:value="true">Warsztaty u mnie w firmie</option>
              <option v-bind:value="false">Warsztaty otwarte</option>
            </select>
              
            <label for="emailForContact" style="float: left">E-mail</label>
            <input type="email" id="emailForContact" v-model="email" placeholder="E-mail" required>

            <label for="phoneNumber" style="float: left">Numer telefonu <small>(opcjonalnie)</small></label>
            <input type="text" id="phoneNumber" v-model="phoneNumber" placeholder="Numer telefonu">

            <section v-if="inCompany">
              <label for="companyName" style="float: left">Nazwa firmy <small>(opcjonalnie)</small></label>
              <input type="text" id="companyName" v-model="companyName" placeholder="Nazwa firmy">

              <label for="officeAddress" style="float: left">Adres biura <small>(opcjonalnie)</small></label>
              <input type="text" id="officeAddress" v-model="officeAddress" placeholder="Adres biura">
            </section>
            
            <section v-else>
              <label for="who" style="float: left"> <small>Pan/Pani (opcjonalnie)</small></label>
              <input type="text" id="who" v-model="who" placeholder="Imię">

              <label for="whichCity" style="float: left">W jakim mieście/miastach interesują Cię warsztaty <small>(opcjonalnie)</small></label>
              <input type="text" id="whichCity" v-model="whichCity" placeholder="Miasto/miasta">
            
            </section>

            <label for="additionalInfo" style="float: left">Dodatkowe informacje <small>(opcjonalnie)</small></label>
            <textarea id="additionalInfo" v-model="additionalInfo" placeholder="Dodatkowe informacje" style="height:200px"></textarea>
              
            <div class="agree-wrapper">
              <label for="agree2" style=""><b>Git w Twojej skrzynce</b> - newsletter z poradami Gitowymi i informacjami na temat nadchodzących warsztatów <small>(opcjonalnie)</small></label>
              <span>
                <input type="checkbox" id="agree2" v-model="agree" name="agree" style="float: left; height: 20px">
              </span>
              <div class="clearboth"></div>
            </div>

            <input type="submit" value="Wyślij" style="margin-top: 10px;">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="podziel-sie" class="latest-news-block">
  <div class="container">
    <div class="section-title text-center wow fadeInUp elements-title">
      <h2>Podziel się!</h2>
              <p style="margin-top: 75px">Jeżeli znasz programistów, którzy nie korzystają z wielu dobrodziejstw Gita, 
                <b>podziel się linkiem do inicjatywy GitWarsztaty</b>, może dadzą się przekonać do zoptymalizowania swojej pracy.
                <br>Z góry dziękujemy! :)</p>
    </div>
    <div class="row" style="margin-left: auto; margin-right: auto;">
        <div class="wow fadeInUp" style="margin-left: auto; margin-right: auto">
          <div class="col-md-4 col-sm-8 col-xs-12 row-element" style="margin-left: auto; margin-right: auto">
              <div class="social-left">
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.gitwarsztaty.pl" onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;" class="text-center" style="margin-top: auto; margin-bottom: auto">
                  <h4><i class="fa fa-facebook" style="font-size: 250%; margin-bottom: 10px"></i><br>Facebook</h4>
                </a>
              </div>
          </div>
          <div class="col-md-4 col-sm-8 col-xs-12 row-element">
            <div>
              <a href="https://twitter.com/share?text=GitWarsztaty+-+GIT+efektywnie+wykorzystany&amp;url=https://www.gitwarsztaty.pl" onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;" class="text-center" style="margin-top: auto; margin-bottom: auto">
                <h4><i class="fa fa-twitter" style="font-size: 250%; margin-bottom: 10px"></i><br>Twitter</h4>
              </a>
            </div>
          </div>
          <div class="col-md-4 col-sm-8 col-xs-12 row-element">
            <div class="social-right">
              <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://gitwarsztaty.pl" onclick="window.open(this.href, 'share-linkedin','width=580,height=296');return false;" class="text-center" style="margin-top: auto; margin-bottom: auto">
                <h4><i class="fa fa-linkedin" style="font-size: 250%; margin-bottom: 10px"></i><br>LinkedIn</h4>
              </a>
            </div>
          </div>
    </div>
  </div>
  </div>
</section>

  <script type="text/x-template" id="modal-template">
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">

            <div class="modal-header">
              <slot name="header">
              </slot>
            </div>

            <div class="modal-body">
              <slot name="body">
              </slot>
            </div>

            <div class="modal-footer">
              <slot name="footer">
                <button class="modal-default-button" @click="$emit('close')">
                  OK
                </button>
              </slot>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </script>

  <div>
    <modal v-if="showModal" @close="showModal = false">
      <h3 slot="header" v-bind:class="(modalSuccess)?'successHeader ':'failureHeader'">{% raw %}{{ modalHeader }}{% endraw %}</h3>
      <span slot="body" v-html="modalBody"></span>
    </modal>
  </div>
  
</main>

<footer id="bottom-footer">
  <div class="container">
    <div class="row wow fadeInUp">
      <div class="col-md-4 col-sm-4 col-xs-12" style="float:right"> 
        <!--copyright-->
        <p class="copyright">© <script>document.write(new Date().getFullYear());</script>  <a href="http://www.gitwarsztaty.pl" style="color: #73757d">gitwarsztaty.pl</a></p>
        <!--/copyright--> 
      </div>
      <!--bottom nav-->
      <!--<div class="col-md-4 col-sm-4 col-xs-12">-->
        <!--<nav class="bottom-nav">-->
          <!--<ul>-->
            <!--<li><a href="#">FAQ</a></li>-->
            <!--<li><a href="#">Privacy</a></li>-->
            <!--<li><a href="#">Blog</a></li>-->
            <!--<li><a href="#">Pricing</a></li>-->
          <!--</ul>-->
        <!--</nav>-->
      <!--</div>-->
      <!--/bottom nav--> 
      
      <!--Social Links-->
      <div class="col-md-4 col-sm-4 col-xs-12">
        <ul class="social-link" style="padding-left: 0">
          <li><a href="https://twitter.com/share?text=GitWarsztaty+-+GIT+efektywnie+wykorzystany&amp;url=https://www.gitwarsztaty.pl" onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://www.gitwarsztaty.pl" onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/gitwarsztaty/" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://www.linkedin.com/shareArticle?mini=true&url=https://gitwarsztaty.pl" onclick="window.open(this.href, 'share-linkedin','width=580,height=296');return false;"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
      <!--/Social Links--> 
      
    </div>
  </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="js/jquery.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script type="text/javascript" src="js/bootstrap.js"></script> 
<script type="text/javascript" src="js/SmoothScroll.js"></script> 
<script type="text/javascript" src="js/jquery.isotope.js"></script> 
<script src="js/owl.carousel.js"></script> 
<script src="js/jquery.waypoints.min.js"></script> 
<!-- Custom Javascripts
    ================================================== --> 
<script type="text/javascript" src="js/main.js"></script> 
<script src="js/wow.min.js"></script>

<script>
    function to_position(divid) {
        $('html, body').animate({ scrollTop: $(divid).offset().top - 90 }, 'slow');
    }
    function to_height(height) {
      $('html, body').animate({ scrollTop: height }, 'slow');
    }
</script>

<script>
new WOW().init();
</script>

<script>
  Vue.component('modal', {
    template: '#modal-template'
  });

  var app = new Vue({
    el: '#app',
    data: {
      inCompany: true,
      agree: true,
      email: "",
      phoneNumber: "",
      companyName: "",
      officeAddress: "",
      who: "",
      whichCity: "",
      additionalInfo: "",
      showModal: false,
      modalSuccess: true,
      modalHeader: "Trwa wysyłanie...",
      modalBody: "Proszę czekać..."
    },
    methods:{
      requestMaterials: function (e) {
        const self = this;
        self.modalSuccess = true;
        self.modalHeader = "Trwa wysyłanie...";
        self.modalBody = "Proszę czekać...";
        self.showModal = true;
        const materialsSentHeader = "Wysłano materiały";
        const materialsSentBody = "Jeżeli materiały nie dotrą w najbliższym czasie, sprawdź folder SPAM lub skontaktuj się z nami bezpośrednio.<br><br>Krzysztof Morcinek: <br><a class='phone' href='tel:737692782'>737 692 782</a><br> Tomasz Skraskowski: <br><a class='phone' href='tel:792228321'>792 228 321</a><br> E-mail: <br><a class='phone' href='mailto:kontakt@gitwarsztaty.pl?Subject=Warsztaty' target='_top'>kontakt@gitwarsztaty.pl</a>";
        const materialsSendingFailureHeader = "Ups, coś poszło nie tak";
        const materialsSendingFailureBody = "Prosimy, skontaktuj się z nami telefonicznie lub mailowo.<br><br>Krzysztof Morcinek: <br><a class='phone' href='tel:737692782'>737 692 782</a><br> Tomasz Skraskowski: <br><a class='phone' href='tel:792228321'>792 228 321</a><br> E-mail: <br><a class='phone' href='mailto:kontakt@gitwarsztaty.pl?Subject=Warsztaty' target='_top'>kontakt@gitwarsztaty.pl</a>";

        try {
          var sendMaterialsJson = '{ ' +
                  '"email": "' + this.email + '",' +
                  '"agree": "' + this.agree + '",' +
                  '"time": "' + new Date().toString() + '"' +
                  '}';
          $.post('{{ site.url }}/.netlify/functions/sendmaterials', sendMaterialsJson, function(result) {
            console.debug("Subscription submit successed, result: " + JSON.stringify(result));
            self.modalSuccess = true;
            self.modalHeader = materialsSentHeader;
            self.modalBody = materialsSentBody;
          })
          .fail(function(response) {
            console.error("Subscription submit failed, response: " + JSON.stringify(response));
            self.modalSuccess = false;
            self.modalHeader = materialsSendingFailureHeader;
            self.modalBody = materialsSendingFailureBody;
          });
        }
        catch (e) {
          console.error(e);
          self.modalSuccess = false;
          self.modalHeader = materialsSendingFailureHeader;
          self.modalBody = materialsSendingFailureBody;
        }
        
        e.preventDefault();
      },
      requestContact: function(e) {
        const self = this;
        self.modalSuccess = true;
        self.modalHeader = "Trwa wysyłanie...";
        self.modalBody = "Proszę czekać...";
        self.showModal = true;
        const requestSentHeader = "Wysłono pomyślnie";
        const requestSentBody = "Skontaktujemy się niezwłocznie. W razie problemów, skontaktuj się proszę z nami bezpośrednio. <br><br>Krzysztof Morcinek: <br><a class='phone' href='tel:737692782'>737 692 782</a><br> Tomasz Skraskowski: <br><a class='phone' href='tel:792228321'>792 228 321</a><br> E-mail: <br><a class='phone' href='mailto:kontakt@gitwarsztaty.pl?Subject=Warsztaty' target='_top'>kontakt@gitwarsztaty.pl</a>";
        const requestSendingFailureHeader = "Ups, coś poszło nie tak";
        const requestSendingFailureBody = "Prosimy, skontaktuj się z nami telefonicznie lub mailowo.<br><br>Krzysztof Morcinek: <br><a class='phone' href='tel:737692782'>737 692 782</a><br> Tomasz Skraskowski: <br><a class='phone' href='tel:792228321'>792 228 321</a><br> E-mail: <br><a class='phone' href='mailto:kontakt@gitwarsztaty.pl?Subject=Warsztaty' target='_top'>kontakt@gitwarsztaty.pl</a>";

        try {
          var requestDetailsJson = "{ " +
                  '"email": "' + this.email + '",' +
                  '"agree": "' + this.agree + '",' +
                  '"time": "' + new Date().toString() + '",' +
                  '"inCompany": "' + this.inCompany + '",' +
                  '"phoneNumber": "' + window.btoa(unescape(encodeURIComponent(this.phoneNumber))) + '",' +
                  '"companyName": "' + window.btoa(unescape(encodeURIComponent(this.companyName))) + '",' +
                  '"officeAddress": "' + window.btoa(unescape(encodeURIComponent(this.officeAddress))) + '",' +
                  '"who": "' + window.btoa(unescape(encodeURIComponent(this.who))) + '",' +
                  '"whichCity": "' + window.btoa(unescape(encodeURIComponent(this.whichCity))) + '",' +
                  '"additionalInfo": "' + window.btoa(unescape(encodeURIComponent(this.additionalInfo))) + '"}';
          
          $.post('{{ site.url }}/.netlify/functions/sendcontactrequest', requestDetailsJson, function(result) {
            console.debug("Request submit successed, result: " + JSON.stringify(result));
            self.modalSuccess = true;
            self.modalHeader = requestSentHeader;
            self.modalBody = requestSentBody;
          })
                  .fail(function(response) {
                    console.error("Request submit failed, response: " + JSON.stringify(response));
                    self.modalSuccess = false;
                    self.modalHeader = requestSendingFailureHeader;
                    self.modalBody = requestSendingFailureBody;
                  });
        }
        catch (e) {
          console.error(e);
          self.modalSuccess = false;
          self.modalHeader = requestSendingFailureHeader;
          self.modalBody = requestSendingFailureBody;
        }
        e.preventDefault();
      }
    }
  })
</script>

{% include analytics.html %}

</body>
</html>
