<div class="text-center wow fadeInUp easyReadText" style="margin-bottom: 20px; margin-top: 41px">
    <a href="{{ site.url }}#co-zyskasz">
        <p>
            <img src="img/attention.png" class="img-responsive" style="float: left; max-height: 100px">
            Opowiedz nam swoją sytuację, a wspólnie dopasujemy zakres szkolenia, na przykład:
            zespół wdrożony <strong>do Dockera od zera</strong>;
            zespół wdrożony <strong>do Gita od zera</strong>;
            <strong>podniesienie satysfakcji z pracy i wydajności zespołu</strong>, który już zna Gita;
            usprawniony lub przygotowany od zera <strong>pipeline CI/CD</strong>.
        </p>
        <p>
            Szkolenie tylko dla Twojej firmy, w Twoim biurze, lub otwarte. <b>Dojeżdżamy do każdego miasta w Polsce!</b>
            Zdalne szkolenie z Gita lub Dockera na platformie Zoom.
        </p>
    </a>
</div>
