<footer id="bottom-footer">
    <div class="container">
        <div class="row wow fadeInUp">
            <div class="col-md-4 col-sm-4 col-xs-12" style="float:right">
                <!--copyright-->
                <p class="copyright">© <script>document.write(new Date().getFullYear());</script>  <a href="http://www.gitwarsztaty.pl" style="color: #73757d">gitwarsztaty.pl</a>
                    <br>
                <a href="{{ site.url }}/polityka-prywatnosci.pdf" target="_blank">Polityka Prywatności</a>
                </p>
                <!--/copyright-->
            </div>
            <!--bottom nav-->
            <!--<div class="col-md-4 col-sm-4 col-xs-12">-->
            <!--<nav class="bottom-nav">-->
            <!--<ul>-->
            <!--<li><a href="#">FAQ</a></li>-->
            <!--<li><a href="#">Privacy</a></li>-->
            <!--<li><a href="#">Blog</a></li>-->
            <!--<li><a href="#">Pricing</a></li>-->
            <!--</ul>-->
            <!--</nav>-->
            <!--</div>-->
            <!--/bottom nav-->

            <!--Social Links-->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <ul class="social-link" style="padding-left: 0">
                    <li><a href="https://twitter.com/share?text=GitWarsztaty+-+GIT+efektywnie+wykorzystany&amp;url=https://www.gitwarsztaty.pl" onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://www.gitwarsztaty.pl" onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/gitwarsztaty/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/shareArticle?mini=true&url=https://gitwarsztaty.pl" onclick="window.open(this.href, 'share-linkedin','width=580,height=296');return false;"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <!--/Social Links-->

        </div>
    </div>
</footer>
