<div style="padding-left: 20px">
    <nav class="post-navigation" id="table-of-content-nav">
        <div id="table-of-content-outer" class="table-of-content-outer">
            <div class="table-of-content-inner">
                <h4 class="table-of-content-h4">
                    <span class="table-of-content-span">W TYM ARTYKULE</span>
                </h4>
                <ul id='table-of-content' class="table-of-content-ul">
                    <li id="introduction-in-table" class="h2_nav"><a href="#introduction">Wprowadzenie</a></li>
                </ul>
                <div>
                    <a href="{{ site.url }}/11-git-trickow-do-codziennej-pracy?i=16925">
                        <img src="{{ site.baseurl }}assets/images/git-tricks-cover-from-dv-175-rotated.jpg" style="max-width: 175px" />
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>
