<section id="podziel-sie" class="latest-news-block">
    <div class="container">
        <div class="section-title text-center wow fadeInUp elements-title">
            <h2>Podziel się!</h2>
            <p style="margin-top: 75px">Jeżeli znasz programistów, którzy nie korzystają z wielu dobrodziejstw Gita lub Dockera,
                <b>podziel się linkiem do inicjatywy GitWarsztaty</b>, może dadzą się przekonać do zoptymalizowania swojej pracy.
                <br>Z góry dziękujemy! :)</p>
        </div>
        <div class="row" style="margin-left: auto; margin-right: auto;">
            <div class="wow fadeInUp" style="margin-left: auto; margin-right: auto">
                <div class="col-md-4 col-sm-8 col-xs-12 row-element" style="margin-left: auto; margin-right: auto">
                    <div class="social-left">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.gitwarsztaty.pl" onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;" class="text-center" style="margin-top: auto; margin-bottom: auto">
                            <h4><i class="fa fa-facebook" style="font-size: 250%; margin-bottom: 10px"></i><br>Facebook</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-8 col-xs-12 row-element">
                    <div>
                        <a href="https://twitter.com/share?text=GitWarsztaty+-+GIT+efektywnie+wykorzystany&amp;url=https://www.gitwarsztaty.pl" onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;" class="text-center" style="margin-top: auto; margin-bottom: auto">
                            <h4><i class="fa fa-twitter" style="font-size: 250%; margin-bottom: 10px"></i><br>Twitter</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-8 col-xs-12 row-element">
                    <div class="social-right">
                        <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://gitwarsztaty.pl" onclick="window.open(this.href, 'share-linkedin','width=580,height=296');return false;" class="text-center" style="margin-top: auto; margin-bottom: auto">
                            <h4><i class="fa fa-linkedin" style="font-size: 250%; margin-bottom: 10px"></i><br>LinkedIn</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
