<section id="testimonials-block" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="testimonial" class="owl-carousel owl-theme">
                    <div class="item">
                        <h5>Najlepsze szkolenie na jakim byłam!</h5>
                        <p><strong>Uczestniczka warsztatów</strong></p>
                    </div>
                    <div class="item smaller-text-on-mobile">
                        <h5>Świetna prezentacja, dobre przykłady i konkretne dema do zagadnień. Poruszone wszystkie zagadnienia, otwartość na pytania i pomoc, duża wiedza i doświadczenie.</h5>
                        <p><strong>Uczestnik warsztatów</strong></p>
                    </div>
                    <div class="item">
                        <h5>Bardzo udane szkolenie - nastawione na praktykę. Świetnie! :)</h5>
                        <p><strong>Uczestniczka warsztatów</strong></p>
                    </div>
                    <div class="item">
                        <h5>Świetne warsztaty zarówno dla osób zaczynających z Gitem, jak i tych osób chcących ustandaryzować wiedzę.</h5>
                        <p><strong>Uczestnik warsztatów</strong></p>
                    </div>
                    <div class="item">
                        <h5>Wiedza przekazana w przystępny sposób, dobrze dobrany plan tematów.</h5>
                        <p><strong>Uczestnik warsztatów</strong></p>
                    </div>
                    <div class="item">
                        <h5>Bardzo dobrze przygotowane technicznie i merytorycznie.</h5>
                        <p><strong>Uczestnik warsztatów</strong></p>
                    </div>
                    <div class="item">
                        <h5>Szkolenie bardzo dobre, jako początkującemu udało mi się nadążać za treścią.</h5>
                        <p><strong>Uczestnik warsztatów</strong></p>
                    </div>
                    <div class="item">
                        <h5>Bardzo fajnie poprowadzone, praktyczne przykłady. Super !!</h5>
                        <p><strong>Uczestniczka warsztatów</strong></p>
                    </div>
                    <div class="item smaller-text-on-mobile">
                        <h5>Dla mnie - jako dla osoby, która kiedyś odrobinę poznała Gita ale nie ma żadnego doświadczenia w korzystaniu z niego - szkolenie było trafione w dziesiątkę i pozwoliło dokładnie zrozumieć na czym to wszystko polega.</h5>
                        <p><strong>Uczestnik warsztatów</strong></p>
                    </div>
                    <div class="item">
                        <h5>Dobrze przeprowadzone, bardzo merytoryczne.</h5>
                        <p><strong>Uczestnik warsztatów</strong></p>
                    </div>
                    <div class="item smaller-text-on-mobile">
                        <h5>Szkolenie bardzo przydatne, mój pierwszy kontakt z Gitem i już wiem, że będę go wykorzystywał nie tylko przy tworzeniu oprogramowania</h5>
                        <p><strong>Uczestnik warsztatów</strong></p>
                    </div>
                    <div class="item">
                        <h5>Bardzo fajnie tłumaczone przykłady i wspólne rozwiązywanie ćwiczeń</h5>
                        <p><strong>Uczestnik warsztatów</strong></p>
                    </div>
                    <div class="item">
                        <h5>Bardzo dobra organizacja i podejście do tematu</h5>
                        <p><strong>Uczestnik warsztatów</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
