---
layout: default
current: tag
title: Tag Page
cover: false
class: 'tag-template'
navigation: True
logo: 'assets/images/favicon.ico'
---

<!-- default -->
<!-- The tag above means - insert everything in this file into the {body} of the default.hbs template -->

<!-- The big featured header, it uses blog cover image as a BG if available -->
<!-- #tag -->
{% include dynamic_tag_info.html %}
<header class="site-header outer {% if cover or page.cover %}" style="background-image: url({{ site.baseurl }}{% if cover %}{{ cover }}{% else %}{{ page.cover }}{% endif%}) {% else %}no-cover{% endif %}">
    <div class="inner">
        {% include site-nav-transparent.html %}
        <div class="site-header-content" style="text-shadow: 1px 1px 2px black">
            <h1 class="site-title">{{ page.tag | replace:"-"," " | capitalizeall }}</h1>
            <h2 class="site-description">
                {% if tag_description %}
                    {{ tag_description }}
                <a class="social-link social-link-rss" href="/tag/{{ page.tag }}/feed.xml" target="_blank"><small>Obserwuj nowe posty {{ page.tag | replace:"-"," " | capitalizeall }} z RSS feed</small> {% include rss.html %}</a>
                {% elsif page.tag %}
    			    Kolekcja postów {{ paginator.total_posts }}
                {% endif %}
            </h2>
        </div>
    </div>
</header>
<!-- tag -->

<!-- The main content area -->
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">
        <div class="post-feed">
            <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
            {%  include post-card.html %}
        </div>
    </div>
</main>

<!-- floating header which appears on-scroll, included from includes/floating-header.hbs -->
{% include floating-header.html %}
