---
cover: img/prezentacja.jpg
---

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Wyciśnij soki z Gita, przestań używać jak Zipa - prezentacja by Tomasz Skraskowski</title>

    <meta name="description" content="Prelekcja Tomka Skraskowskiego na temat optymalizowania pracy za pomocą Gita">
    <meta name="author" content="Tomasz Skraskowski">

    {% include head.html %}

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/white.css" id="theme">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
        document.getElementsByTagName('head')[0].appendChild(link);
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

<div class="reveal">
    <div class="slides">
        <section>
            <h2>Wyciśnij soki z Gita</h2>
            <h3>Przestań używać jak Zipa</h3>
            <img src="img/wyciskanie-gita.png" style="border:none; box-shadow:none; max-height: 500px"/>
        </section>
        
        <section>
            <h2 style="margin-bottom: 50px">Tomasz Skraskowski</h2>
            <p>
            <div>
                <img src="img/tomasz-skraskowski.jpg" style="max-width: 300px; float: left; margin-top: 56px"/>
            </div>
            <div>
                <ul style="line-height: 200%; padding-left: 27px">
                    <li>Backend developer at Pirios S.A.</li>
                    <li>Writes code since 12</li>
                    <li>Currently .Net (Core), previously C++</li>
                    <li>Interested in decentralized systems</li>
                    <li><a href="https://www.softwaredeveloper.blog/" target="_blank">www.SoftwareDeveloper.Blog</a>
                    </li>
                </ul>
            </div>
            </p>
        </section>
        
        <section>
            <h2>GitWarsztaty w Twojej firmie</h2>
            <p>
                <img src="img/my.jpg" style="border:none; box-shadow:none; max-width: 500px"/>
            </p>
            <p style="color: #42affa">
                <a href="https://gitwarsztaty.pl">www.GitWarsztaty.pl</a>
            </p>
        </section>
        
        <section>
            <h3>Można odebrać telefon tak...</h3>
            <p>
                <img src="img/phone-talk.jpg" style="border:none; box-shadow:none; max-width: 500px"/>
                <!-- https://www.pexels.com/photo/communication-male-man-mobile-phone-42399/ -->
            </p>
        </section>
        
        <section>
            <h3>SVN Update...<br>SVN Commit...</h3>
            <p>
                <img src="img/svn.jpg" style="border:none; box-shadow:none; max-width: 700px"/>
                <!-- https://wiki.scn.sap.com/wiki/display/BOBJ/TortoiseSVN -->
            </p>
            <aside class="notes">
                Można się na etapie <b>ZIPA</b> zatrzymać, ale skoro można wydobyć więcej czemu nie korzystac.
                <br><br>
                Tak jakby kupić <b>PC</b> i traktować jak <b>MASZYNĘ DO PISANIA</b>.
                <br><br>
                Programisto młody, każdego ranka updatuj swojego trunka.
            </aside>
        </section>
        
        <section>
            <h3>Można obrabiać materiał prostymi narzędziami...</h3>
            <p>
                <img src="img/stare-narzedzia.jpg" style="border:none; box-shadow:none; max-width: 600px"/>
                <!-- https://unsplash.com/photos/wEJK4q_YlNQ -->
            </p>
            <aside class="notes">
                Jasne, że na początku ważniejsza jest dobra znajomość języka programowania, IDE itd.
            </aside>
        </section>

        <section>
            <h3>Można obrabiać materiał skomplikowanymi narzędziami...</h3>
            <p>
                <img src="img/frezarka.jpg" style="border:none; box-shadow:none; max-width: 600px"/>
                <!-- https://www.harveyperformance.com/wp-content/uploads/2018/02/Depositphotos_12682051_original.jpg -->
            </p>
        </section>

        <section>
            <h3>Git wykracza poza<br>wersjonowanie i kolaborację</h3>
            <h4>Git to narzędzie do edycji i zarządzania kodem</h4>
            <h5>Programuj szybciej i twórz mniej błędów</h5>
            <p>
                <img src="img/code-quality.jpg" style="border:none; box-shadow:none; max-width: 600px"/>
            </p>
        </section>
        
        <section>
            <h3>Korzystanie z R# ma próg wejścia</h3>
            <p style="float: left">
                <img src="img/resharper.png" style="border:none; box-shadow:none; max-width: 300px"/>
                <!-- https://pbs.twimg.com/profile_images/674917637646716928/lni0by_I.png -->
            </p>
            <p>
                Nie rozmawiałem jeszcze z nikim, kto...
            </p>
            <p>
                ...nie widzi w R# niczego szczególnego i zna go dobrze
            </p>
            <p class="fragment">
                ...nie widzi w Vimie<b>*</b> niczego szczególnego i zna go dobrze
            </p>
            <p class="fragment">
                ...nie widzi w Gicie niczego szczególnego i zna go dobrze
            </p>
            <h2 class="fragment">Wyciskanie Gita ma próg wejścia</h2>
            <aside class="notes">
                Przykład z R# kolegi, którego uczyłem programowania i ciągle mu R# przeszkadzał.
            </aside>
        </section>
        
        <section>
            <section>
                <h3>Wyciskanie Gita</h3>
                <h4>Podstawowy próg wejścia - konsola</h4>
                <p>
                    <img src="img/bash.jpg" style="border:none; box-shadow:none; max-width: 700px"/>
                    <!-- https://camo.githubusercontent.com/0f5be83ee242b81125482488d4a02ba04c5ad0c8/68747470733a2f2f7261772e6769746875622e636f6d2f77696b692f726576616e732f626173682d69742f696d616765732f73637265656e73686f74732f62616b6b652d626c61636b2e6a7067 -->
                </p>
                <p>
                    <small>(Głównie trudność dla użytkowników Windowsa)</small>
                </p>
            </section>
            <section>
                <h4>Przekonałem już niejedenego<br>zatwardziałego Windowsiarza :)</h4>
                <p>
                    <img src="img/daj-szanse-konsoli.jpg" style="border:none; box-shadow:none; max-width: 700px"/>
                </p>
            </section>
        </section>
        
        <section>
            <h3>Wyciskanie Gita</h3>
            <h4>Drugi próg wejścia - fruwające commity</h4>
            <p>
                <img src="img/latajace-commity.png" style="border:none; box-shadow:none; max-width: 700px"/>
                <!-- https://leanpub.com/site_images/git-flow/git-workflow-release-cycle-4maintenance.png -->
            </p>
            <p>
                <small>
                    Zrozumienie i przyzwyczajenie się do rozproszonej architektury Gita,<br>w tym do commitów latających
                    między branchami i repozytoriami
                </small>
            </p>
        </section>
        
        <section>
            <h3>Wyciskanie Gita</h3>
            <h4>Trzeci próg wejścia - mnogość komend i przełączników</h4>
            <p>
                <img src="img/git-flags.jpg" style="border:none; box-shadow:none; max-width: 500px"/>
            </p>
        </section>
        
        <section>
            <h1>Co daje Git?</h1>
            <p>
                <br>
                <img src="img/poco.png" style="border:none; box-shadow:none; max-width: 330px"/>
            </p>
        </section>
        
        <section>
            <h4>Gdy wszystko musi iść po sieci...</h4>
            <p>
                <img src="img/wolno.gif" style="border:none; box-shadow:none;"/>
            </p>
            <aside class="notes">
                Na Windowsie Git działa szybko, a na
                <br><br>
                <b>Linuksie bardzo szybko</b> - np. 200 commitów w rebase - FRU
                <br><br>
                Do tego kwestia przyblokowania przy braku sieci.
            </aside>
        </section>
        
        <section>
            <h3>Nowe funkcjonalności po kawałku</h3>
            <br>
            <h5>Jaką małą zmianę prowadzącą do celu w tym momencie wprowadzam?</h5>
            <br>
            <h4>Commit!<br>
                <small>(Mały i czysty - SRP)</small>
            </h4>
            <p>
                <img src="img/that-is-right.gif" style="border:none; box-shadow:none;"/>
            </p>
            <p>
                <small>Zawsze później można się z niego wycofać.</small>
            </p>
            <aside class="notes">
                Zmniejszamy <b>multi tasking</b>
                <br><br>
                Single Responsibility Principle
                <br><br>
                <b>Empty commit</b>
                <br><br>
                Maciek Aniserowicz nazywa to <b>Commit driven development</b>
            </aside>
        </section>
        
        <section>
            <h3>W<sub><small>ork</small></sub> I<sub><small>n</small></sub> P<sub><small>rogress</small></sub></h3>
            <p>
                <img src="img/wip.jpg" style="border:none; box-shadow:none; max-width: 600px"/>
            </p>
            <p><small><code>wip = !git add --all && git commit -m "WIP"</code></small></p>
        </section>
        
        <section>
            <h3>Kontrola nad sytuacją w IDE</h3>
            <p>
                <img src="img/kontrola.jpg" style="border:none; box-shadow:none; max-width: 600px"/>
            </p>
        </section>
        
        <section>
            <h3>Git Bisect</h3>
            <p>
                <img src="img/bisect.jpg" style="border:none; box-shadow:none; max-width: 600px"/>
            </p>
        </section>
        
        <section>
            <h3>Dziękuję za uwagę</h3>
            <p>
                <br>
                <small>Życzę wszystkim, żeby z pomocą Gita<br>praca posuwała się do przodu w zawrotnym tempie</small>
            </p>
            <p>
                <img src="img/fast.gif" style="border:none; box-shadow:none"/>
            </p>
        </section>
    </div>
</div>

<script src="lib/js/head.min.js"></script>
<script src="js/reveal.js"></script>

<script>

    // Full list of configuration options available at:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
            {
                src: 'lib/js/classList.js', condition: function () {
                    return !document.body.classList;
                }
            },
            {
                src: 'plugin/markdown/marked.js', condition: function () {
                    return !!document.querySelector('[data-markdown]');
                }
            },
            {
                src: 'plugin/markdown/markdown.js', condition: function () {
                    return !!document.querySelector('[data-markdown]');
                }
            },
            {
                src: 'plugin/highlight/highlight.js', async: true, callback: function () {
                    hljs.initHighlightingOnLoad();
                }
            },
            {src: 'plugin/zoom-js/zoom.js', async: true},
            {src: 'plugin/notes/notes.js', async: true}
        ]
    });
</script>

{% include analytics.html %}

</body>

</html>